html {
    box-sizing: border-box;
    line-height: 1.2;
    color: var(--secondary-color);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    font: inherit;
    color: inherit;
    text-transform: inherit;
    cursor: pointer;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    /* outline: 1px solid blue; */
}

ul,
ol {
    list-style-type: none;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

:root {
    --main-font: 'Montserrat', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --decorative-font: 'Kaushan Script', cursive;
    --main-color: #95e1d3;
    --secondary-color: #333333;
}

.container {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

/* Header */

.navigator {
    font-family: var(--main-font);
    color: var(--main-color);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 118px;
}

.main-logo {
    font-size: 30px;
    font-weight: 700;
}

.navigation-menu {
    display: flex;
}

.navigation-menu-item:not(:last-child) {
    margin-right: 58px;
}

.navigation-menu-link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    transition: color 200ms linear;
}

.navigation-menu-link:hover {
    color: #f38181;
}

.navigation-menu-link:focus {
    color: #f38181;
}

.navigation-menu-link:hover::after {
    opacity: 1;
    visibility: visible;
}

.navigation-menu-link:focus::after {
    opacity: 1;
    visibility: visible;
}

.navigation-menu-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #f38181;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: -10px;
    transition: opacity 200ms linear, visibility 200ms linear;
}

/* main */
/* section services */

.services {
    margin-bottom: 87px;
}

.decorated-part {
    font-size: 24px;
    display: block;
    font-family: var(--decorative-font);
    text-transform: none;
    margin-bottom: 14px;
}

.section-header {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

.section-header::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 35px auto 64px;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services-list-item {
    text-align: left;
    width: 380px;
    padding-left: 80px;
    background-repeat: no-repeat;
    background-position: 20px top;
}

.services-list-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 96px;
}

.photography {
    background-image: url(../img/ico/alarm.png);
}

.web-design {
    background-image: url(../img/ico/line-graph.png);
}

.creativity {
    background-image: url(../img/ico/computer-ok.png);
}

.seo {
    background-image: url(../img/ico/book.png);
}

.css-html {
    background-image: url(../img/ico/home.png);
}

.digital {
    background-image: url(../img/ico/image.png);
}

.services-list-item-heading {
    font-family: var(--main-font);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 10px;
}

.services-list-item-description {
    font-family: var(--secondary-font);
    font-size: 15px;
    line-height: 24px;
    color: #999999;
}





.team-description {
    padding: 0 130px;
    margin-bottom: 90px;
    font-family: var(--secondary-font);
    color: #999999;
    font-size: 15px;
    line-height: 24px;
}

.team-list {
    display: flex;
    justify-content: space-between;
}

.team-list-item {
    width: 380px;

}

.overlay-wrapper {
    position: relative;
    transition: transform 200ms linear;
    margin-bottom: 30px;

}

.team-list-item-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,
            rgba(255, 227, 138, 0.5),
            rgba(243, 129, 129, 0.9));
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms linear,
        visibility 200ms linear;


}

.team-list-item:hover .team-list-item-overlay {
    visibility: visible;
    opacity: 1;
    box-shadow: 10px 10px #95e1d3;

}

.team-list-item:hover .overlay-wrapper {
    transform: translateX(-10px) translateY(-10px);
}

.team-member-sicial-list {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    position: absolute;
}

.social-link {
    display: block;
    width: 55px;
    height: 56px;
    background-color: #fce38a;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 200ms linear;
}

.social-link:hover {
    background-color: #95e1d3;
}

.team-member-social-list-item:not(:last-child) {
    border-right: 1px solid #f38181;
}

.facebook {
    background-image: url(../img/social/facebook.png);
}

.twitter {
    background-image: url(../img/social/twitter.png);
}

.pinterest {
    background-image: url(../img/social/pinterest.png);
}

.instagram {
    background-image: url(../img/social/instagram.png);
}

.team-member-name {
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.team-member-ocupation {
    font-family: var(--secondary-font);
    color: #999999;
    font-style: italic;
}

main {
    margin-bottom: 88px;
}

.site-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    align-items: baseline;
}

.copyright {
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
}

.service-link {
    color: #f38181
}

.contact-form {
    display: flex;

}

.contact-form-input {
    font-family: var(--secondary-font);
    font-style: italic;
    font-size: 15px;
    line-height: 24px;
    color: #cccccc;
    border: 1px solid #e7e7e7;
    padding: 0 0 0 13px;
    width: 230px;
}

.contact-form-button {
    /* display: block; */
    padding: 10px 33px;
    font-family: var(--main-font);
    font-weight: 700;
    background-color: #95e1d3;
    color: #ffffff;
    text-transform: uppercase;
}