html {
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0 auto;
  width: 900px;
  padding: 72px 0px;
}

.navigation-menu {
  text-align: center;
}
.navigation-menu-item {
  display: inline-block;
}
.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #626262;
}
.nav-link:hover {
  color: #03a9f4;
}
.nav-link:focus {
  color: #03a9f4;
}

.navigation-menu-item:not(:last-child) {
  margin-right: 106px;
}
.articles-list {
  font-size: 0px;
}

.articles-list-item {
  padding-top: 96px;
  width: 420px;
  display: inline-block;
  margin-bottom: 32px;
}

.articles-list-item:not(:nth-of-type(2n)) {
  margin-right: 60px;
}
.image-caption {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #b4ad9e;
  line-height: 16px;
  font-size: 14px;
  padding-top: 28px;
}
.article-header {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  padding-top: 20px;
}
.article {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 30px;
}
div {
  text-align: center;
  padding-top: 18px;
}
button {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #626262;
  padding: 16px 32px 16px;
  cursor: pointer;
}
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
