html {
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  color: #626262;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  margin: 0 auto;
  text-align: center;
  width: 900px;
}

.navigation-menu {
  padding: 72px 0 96px 0;
  text-align: center;
}
.navigation-menu-item {
  display: inline-block;
}
.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
.nav-link:hover {
  color: #03a9f4;
}
.nav-link:focus {
  color: #03a9f4;
}

.navigation-menu-item:not(:last-child) {
  margin-right: 106px;
}
.articles-list {
  font-size: 0px;
  text-align: left;
<<<<<<< HEAD
  /* padding-bottom: 18px; */
=======
  padding-bottom: 18px;
>>>>>>> ee5f068dc101790b6e33d2b4d43d27727f0479aa
}

.articles-list-item {
  width: 420px;
  display: inline-block;
<<<<<<< HEAD
  padding-bottom: 132px;
=======
  padding-bottom: 32px;
>>>>>>> ee5f068dc101790b6e33d2b4d43d27727f0479aa
}

.articles-list-item:not(:nth-of-type(2n)) {
  margin-right: 60px;
}
<<<<<<< HEAD
.articles-list-item:nth-last-child(-n + 2) {
  padding-bottom: 50px;
}
img {
  margin-bottom: 28px;
=======
img {
  padding-bottom: 28px;
>>>>>>> ee5f068dc101790b6e33d2b4d43d27727f0479aa
}
.image-caption {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #b4ad9e;
  line-height: 16px;
  font-size: 14px;
  padding-bottom: 20px;
}
.article-header {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  padding-bottom: 30px;
}
.article {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
<<<<<<< HEAD
  /* padding-bottom: 94px; */
=======
>>>>>>> ee5f068dc101790b6e33d2b4d43d27727f0479aa
}
.button {
  padding-bottom: 72px;
  text-align: center;
}

button {
  background-color: #ffffff;
  border: 1px solid #626262;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #626262;
  padding: 16px 32px 16px;
  cursor: pointer;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
