html {
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;

  outline: 1px solid black;
}
body {
  margin: 0 auto;
  width: 900px;
  padding-top: 72px;
}

.navigation-menu {
  text-align: center;
}
.navigation-menu-item {
  display: inline-block;
}
.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #626262;
}
.nav-link:hover {
  color: #03a9f4;
}
.nav-link:focus {
  color: #03a9f4;
}

.navigation-menu-item:not(:last-child) {
  margin-right: 106px;
}
.articles-list {
  font-size: 0px;
  padding-top: 98px;
}

.articles-list-item {
  font-size: 14px;
  width: 420px;
  display: inline-block;
}
.articles-list-item:not(:nth-of-type(2n)) {
  margin-right: 60px;
}
.image-caption {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #b4ad9e;
  line-height: 18px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
