/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v14-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v14-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inria-serif-300italic - latin */
@font-face {
    font-family: 'Inria Serif';
    font-style: italic;
    font-weight: 300;
    src: local('Inria Serif Light Italic'), local('InriaSerif-LightItalic'),
        url('../fonts/inria-serif-v1-latin-300italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inria-serif-v1-latin-300italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/roboto-slab-v11-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-slab-v11-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* arizonia-regular - latin */
@font-face {
    font-family: 'Arizonia';
    font-style: normal;
    font-weight: 400;
    src: local('Arizonia Regular'), local('Arizonia-Regular'),
        url('../fonts/arizonia-v10-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/arizonia-v10-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --main-font: 'Montserrat';
    --main-color: #222222;
    --secondary-font: 'Roboto Slab';
    --secondary-color: #777777;
}


html {
    box-sizing: border-box;
    font-family: var(--main-font);
    color: var(--main-color);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    outline: 1px solid turquoise;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
}

/* HEADER */
.site-navigation {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.site-logo {
    padding-left: 6px;
    font-family: "Arizonia";
    line-height: 1.5;
    font-size: 2.625rem;
    letter-spacing: -1px;
    color: #fed136;

}

.site-navigation-list {
    display: flex;
    justify-content: end;
}


.site-navigation-list-item:not(:last-child) {
    margin-right: 40px;

}


.navigation-list-item-link {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 2.93;
    text-transform: uppercase;
    transition: color 200ms linear;
}

.site-navigation-list-item:hover .navigation-list-item-link {
    color: #fed136;
}