/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url("../fonts/roboto-v20-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --main-font: "Montserrat";
  --secondary-font: "Roboto";
  --main-color: #ffffff;
  --secondary-color: #333333;
  --description-color: #666666;
}

html {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: 14px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

.wrapper {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}

.site-header {
  background-image: url(../img/mob-bannner.png);
  background-color: #1a1915;
  background-size: cover;
  color: var(--main-color);
  padding-top: 20px;
  padding-bottom: 130px;
  line-height: 1.2;
}

.authorization-list {
  display: flex;
  justify-content: center;
  margin-bottom: 116px;
}

.authorization-action {
  padding: 10px 16px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authorization-action::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid var(--main-color);
  border-radius: 20px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: visibility 200ms linear, opacity 200ms linear;
}

.authorization-action:hover.authorization-action::before {
  opacity: 1;
  visibility: visible;
}

.logo {
  display: block;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-bottom: 34px;
}

.main-header {
  padding: 0px 22px;
  font-size: 1.875rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.header-description {
  padding: 0 60px;
  font-family: var(--secondary-font);
  font-size: 1.125rem;
  margin-bottom: 20px;
}

.find-partners-link {
  margin: 0 auto;
  width: 280px;
  display: block;
  padding: 13px 0;
  background-color: #ff4e50;
  border-radius: 24px;
}
