/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/montserrat-v14-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
    url('../fonts/roboto-v20-latin-300.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/roboto-v20-latin-300.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --main-font: 'Montserrat';
  --secondary-font: 'Roboto';
  --main-color: #ffffff;
  --secondary-color: #333333;
  --description-color: #666666;
  /* font-size: 62.5%; */
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: var(--main-font);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

h1 {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}

.site-header {
  background-image: url(../img/mob-bannner.png);
  background-color: #1a1915;
  background-position: center;
  background-size: cover;
  color: var(--main-color);
  padding: 20px 0 138px;
  line-height: 1.2;
}

.authorization-list {
  display: flex;
  justify-content: center;
}

.authorization-list-item {
  font-size: 1.4rem;
}

.authorization-list-item:not(:last-child) {
  margin-right: 6px;
}

.authorization-action {
  padding: 10px 16px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authorization-action::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid var(--main-color);
  border-radius: 20px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: visibility 200ms linear, opacity 200ms linear;
}

.authorization-action:hover.authorization-action::before {
  opacity: 1;
  visibility: visible;
}

.authorization-action:focus.authorization-action::before {
  opacity: 1;
  visibility: visible;
}

.logo {
  display: block;
  text-transform: uppercase;
  font-size: 2rem;
}

.main-header {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.header-description {
  font-family: var(--secondary-font);
  font-size: 1.8rem;
  margin-bottom: 14px;
}

.find-partners-link {
  display: inline-block;
  padding: 12px 48px;
  background-color: #ff4e50;
  border-radius: 24px;
  font-size: 1.4rem;
}

.main-section {
  padding: 66px 0 56px;
  color: var(--secondary-color);
  line-height: 1.2;
}

.section-header {
  font-size: 2.2rem;
  margin-bottom: 14px;
}

.partners-list-item {
  width: 220px;
}

.partners-list-item-image {
  border-radius: 50%;
}

.partners-list-item-image-wrapper {
  width: 120px;
  position: relative;
  margin: 0 auto 20px;
}

.partners-list-item-image-wrapper::before {
  content: '';
  display: block;
  width: 41px;
  height: 41px;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
}

.tv-set.partners-list-item-image-wrapper::before {
  background-color: rgb(255, 78, 80);
  background-image: url(../img/ico/tv-set.png);
}

.test-tube.partners-list-item-image-wrapper::before {
  background-color: rgb(255, 165, 7);
  background-image: url(../img/ico/test-tube.png);
}

.coffe.partners-list-item-image-wrapper::before {
  background-color: rgb(28, 215, 173);
  background-image: url(../img/ico/coffe.png);
}

.telegram.partners-list-item-image-wrapper::before {
  background-color: rgb(78, 115, 219);
  background-image: url(../img/ico/telegram.png);
}

.partners-list-item-name {
  font-size: 1.4rem;
  margin-bottom: 14px;
}

.partners-list-item-description {
  color: var(--description-color);
  font-family: var(--secondary-font);
  font-size: 1.4rem;
}

.see-other-link {
  display: inline-block;
  padding: 12px 72px;
  border: 2px solid #ff4e50;
  border-radius: 24px;
  background-color: rgb(255, 255, 255);
  font-size: 1.4rem;
  color: #ff4e50;
}

@media (max-width: 767px) {
  .authorization-list {
    margin-bottom: 116px;
  }

  .logo {
    margin-bottom: 28px;
  }
  .header-description {
    padding: 0 60px;
  }
  .partners-list-item {
    margin: 0 auto 28px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    width: 660px;
  }

  .site-header {
    background-image: url(../img/tab-bannner_01.png);
    padding: 38px 0 234px;
  }

  .nav-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 140px;
  }

  .main-header {
    font-size: 5.2rem;
    padding: 0 70px;
    margin-bottom: 26px;
  }

  .header-description {
    font-size: 2.4rem;
    margin-bottom: 36px;
  }

  .find-partners-link {
    padding: 12px 22px;
  }

  .see-other-link {
    padding: 12px 30px;
  }

  .section-header {
    margin-bottom: 34px;
  }

  .partners-list {
    display: flex;
    justify-content: center;
    margin-bottom: 38px;
  }
}

@media (min-width: 767px) and (max-width: 939px) {
  .partners-list {
    flex-wrap: wrap;
  }

  .main-section {
    padding: 70px 0 40px;
  }

  .lucas-marsha {
    order: 2;
  }

  .heather-halker {
    order: 1;
  }

  .bradley-hunter-gr {
    order: 3;
  }

  .partners-list-item:nth-child(odd) {
    margin-bottom: 56px;
  }

  .partners-list-item:nth-child(-n + 2) {
    margin-right: 36px;
  }
}

@media (min-width: 940px) {
  .wrapper {
    width: 940px;
  }

  .site-header {
    background-image: url(../img/desktop-bannner.png);
  }

  .main-header {
    font-size: 5.2rem;
    padding: 0 210px;
  }
}
