html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* outline: 1px solid black; */
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.wrapper {
  width: 1600px;
  margin: 0 auto;
  text-align: center;
}

nav {
  width: 1110px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 26px;
}

.logo {
  float: left;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 300;
}

.logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}

.navigation-menu {
  margin-top: 6px;
  float: right;
}

.navigation-menu-item {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  float: left;
  font-size: 14px;
  line-height: 18px;
  color: #0f0101;
}

.navigation-menu-item:hover {
  color: #1abc9c;
}

.navigation-menu-item:focus {
  color: #1abc9c;
}

.navigation-menu-item:not(:last-of-type) {
  margin-right: 34px;
}

.slider {
  position: relative;
}

.slider::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.55);
  position: absolute;
  z-index: 1;
}

.slider-wrapper {
  position: relative;
}

.navigation-buttons {
  position: absolute;
  width: 1110px;
  left: 50%;
  top: 46%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
}

.button {
  border: none;
  display: block;
  width: 104px;
  height: 104px;
  background-color: rgb(78, 198, 171);
  cursor: pointer;
}

.right {
  float: right;
  background-image: url(../img/ico/right.png);
}

.left {
  float: left;
  background-image: url(../img/ico/left.png);
}

.inactive-button {
  background-color: rgba(78, 198, 171, 0.65);
}

.heading-wrapper {
  text-align: left;
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  left: 50%;
  top: 45%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}

.slider-header {
  font-size: 60px;
  font-weight: 900;
  line-height: 82px;
}

.slider-link {
  font-size: 24px;
  line-height: 54px;
}

.new-collection {
  padding-top: 96px;
  padding-bottom: 100px;
  background-color: #e9f0fd;
}

.products-heading {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  color: #515151;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.products-heading::after {
  content: '';
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 20px auto 0;
}

.card-list {
  width: 1110px;
  margin: 0 auto;
}

.card-list-item {
  float: left;
  position: relative;
}

.card-wrapper {
  background-color: #e9f0fd;
  width: 255px;
}

.card-list-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.card-list-item:not(:nth-last-child(-n + 4)) {
  margin-bottom: 30px;
}

.card-list-item:hover .price-link {
  background-color: #1abc9c;
}

.price-link {
  display: block;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #323232;
}

.price-link-name {
  padding: 4px 0 0 14px;
  height: 40px;
  float: left;
  vertical-align: middle;
}

.price {
  padding: 4px 12px 0 12px;
  height: 40px;
  float: right;
  background-color: rgba(255, 255, 255, 0.4);
}

.price::before {
  content: '\0024';
}

.product-overlay {
  width: 100%;
  height: 282px;
  background-color: rgba(0, 0, 0, 0.55);
  position: absolute;
  visibility: hidden;
  opacity: 0;
  border: 10px solid rgba(255, 255, 255, 0.55);
  background-clip: content-box;
}

.card-list-item:hover .product-overlay {
  visibility: visible;
  opacity: 1;
}

.product-options-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.options-item-link {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
}

.options-item-link:hover {
  background-color: #1abc9c;
}

.options-item-link-add {
  display: block;
  width: 168px;
  height: 50px;
  background-image: url(../img/ico/add.png);
  background-repeat: no-repeat;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  line-height: 36px;
  font-weight: 400;
  padding: 7px 18px 0 0;
  border: 1px solid #fff;
}

.options-item-link-add:hover {
  background-color: #1abc9c;
}

.product-options-list-item {
  float: left;
}

.product-options-list-item:not(:nth-last-child(-n + 2)) {
  margin-right: 9px;
}

.product-options-list-item:not(:last-child) {
  margin-bottom: 7px;
}

.like {
  background-image: url(../img/ico/like.png);
}

.compare {
  background-image: url(../img/ico/compare.png);
}

.clock {
  background-image: url(../img/ico/clock.png);
}

.copyright {
  padding: 36px 0 32px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #fefefe;
  background-color: #323232;
}

.designer-name {
  color: #46bfa9;
}
