/* font-family: 'Open Sans',
sans-serif; */
/* GENERAL */
html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* outline: 1px solid black; */
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.container {
  width: 1110px;
  margin: 0 auto;

  /* HEADER */
}

nav {
  padding: 34px 0 86px;
}

.logo {
  float: left;
  /* background-color: teal; */
  font-size: 30px;
  line-height: 32px;
  color: #555252;
}

.logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}

.navigation-menu-item {
  margin-top: 6px;
  float: left;
  font-size: 14px;
  line-height: 18px;
  font-weight: 900;
  text-transform: uppercase;
}

.navigation-menu-item>a {
  color: #0f0101;
}

.navigation-menu-item:not(:last-child) {
  margin-right: 32px;
}

.navigation-menu-item>a:hover {
  color: #1abc9c;
}

.navigation-menu {
  float: right;
  width: 460px;
  /* background-color: blue; */
}

/* MAIN  */

h2 {
  text-align: center;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  color: #515151;
  font-weight: 900;
}

h2::after {
  content: "";
  display: block;
  background-color: #1abc9c;
  height: 7px;
  width: 167px;
  margin: 18px auto 0;
}

.card-list-item {
  float: left;
}

.img-link {
  background-color: #e9f0fd;
}

.card-list-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

h3 {
  float: left;
}

.price-link {
  background-color: #323232;
}

.price {
  float: right;
}

/* VISUALLY HIDDEN */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CLEARFIX */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}