html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

nav {
  padding: 32px 0 86px;
}

.logo {
  float: left;
  font-size: 30px;
  line-height: 32px;
  color: #555252;
}

.logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}

.navigation-menu-item {
  margin-top: 6px;
  float: left;
  font-size: 14px;
  line-height: 18px;
  font-weight: 900;
  text-transform: uppercase;
  color: #0f0101;
}

.navigation-menu-item:not(:last-child) {
  margin-right: 32px;
}

.navigation-menu-item>a:hover {
  color: #1abc9c;
}

.navigation-menu {
  float: right;
  width: 460px;
}

.products {
  margin-bottom: 94px;
}

h2 {
  text-align: center;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  color: #515151;
  font-weight: 900;
}

h2::after {
  content: "";
  display: block;
  background-color: #1abc9c;
  height: 7px;
  width: 167px;
  margin: 20px auto 0;
}

.section-products {
  margin-bottom: 92px;
}

.card-list-item {
  float: left;
}

.card-wrapper {
  background-color: #e9f0fd;
  width: 255px;
}

.card-list-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.card-list-item:not(:nth-last-child(-n + 4)) {
  margin-bottom: 30px;
}

.card-list-item:hover .price-link {
  background-color: #1abc9c;
}

.price-link {
  display: block;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #323232;
}

.price-link-name {
  padding: 4px 0 0 14px;
  height: 40px;
  float: left;
  vertical-align: middle;
}

.price {
  padding: 4px 12px 0 12px;
  height: 40px;
  float: right;
  background-color: rgba(255, 255, 255, 0.4);
}

.price::before {
  content: "\0024";
}

.section-news {
  margin-bottom: 80px;
}

.blog-item {
  font-family: "Open Sans", sans-serif;
  color: #555252;
  width: 350px;
  float: left;
}

.blog-picture {
  margin-bottom: 8px;
}

.blog-item:not(:last-child) {
  margin-right: 30px;
}

.blog-item-heading {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 22px;
}

.blog-item-heading::after {
  content: "";
  display: block;
  background-color: #1abc9c;
  height: 3px;
  width: 136px;
  margin: 8px 0 0 0;
}

.blog-article {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 10px;
}

.load-more {
  display: block;
  width: 160px;
  height: 50px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  color: #ffffff;
  background-color: #4ec6ab;
  text-align: center;
  border-radius: 5px;
  padding-top: 10px;
}

.news {
  margin-bottom: 82px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}