/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v14-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
        url('../fonts/roboto-v20-latin-300.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v20-latin-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    font-size: 62.5%;
    line-height: 1.2;
    box-sizing: border-box;
    font-family: var(--main-font);
}

:root {
    --main-font: 'Montserrat';
    --secondary-font: 'Roboto';
    --main-color: #ffffff;
    --secondary-color: #333333;
    --description-color: #666666;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ol,
ul {
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}


button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: inherit;
    outline: none;
}

/* Header  */
.site-header {
    font-family: var(--main-font);
    width: max-content;
    padding-top: 20px;
    color: var(--main-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.authorization-list {
    display: flex;
    justify-content: center;
}

.authorization-list-item:not(:last-child) {
    margin-right: 6px;
}

.authorization-action {
    font-size: 1.4rem;
    padding: 10px 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authorization-action::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid var(--main-color);
    border-radius: 20px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: visibility 200ms linear, opacity 200ms linear;
}

.authorization-action:hover.authorization-action::before {
    opacity: 1;
    visibility: visible;
}

.authorization-action:focus.authorization-action::before {
    opacity: 1;
    visibility: visible;
}

.site-logo-link {
    display: block;
    text-transform: uppercase;
    font-size: 2rem;
    width: max-content;
    margin: 0 auto;
}

/* Section Hero */
.hero {
    text-align: center;
    font-family: var(--main-font);
    padding: 226px 0 150px;
    background-image: url(../img/mob-bannner.png);
    background-color: #1a1915;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-heading {
    color: var(--main-color);
    font-size: 3rem;
    letter-spacing: -0.02px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.header-description {
    color: var(--main-color);
}

.find-partners-link {
    padding: 12px 48px;
    background-color: #ff4e50;
    border-radius: 24px;
    font-size: 1.4rem;
    color: var(--main-color);
}

.partners-section {
    text-align: center;
    padding: 50px 0 100px;
}

/* section- */