/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v14-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
        url('../fonts/roboto-v20-latin-300.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v20-latin-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    font-size: 62.5%;
    line-height: 1.2;
    box-sizing: border-box;
    font-family: var(--main-font);
}

:root {
    --main-font: 'Montserrat';
    --secondary-font: 'Roboto';
    --main-color: #ffffff;
    --secondary-color: #333333;
    --description-color: #666666;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ol,
ul {
    list-style-type: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;

}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: inherit;
    outline: none;
}

/* Header  */
.site-header {
    font-family: var(--main-font);

    padding-top: 20px;
    color: var(--main-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.authorization-list {
    display: flex;
    justify-content: center;
}

.authorization-list-item:not(:last-child) {
    margin-right: 6px;
}

.authorization-action {
    white-space: nowrap;
    font-size: 1.4rem;
    padding: 10px 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authorization-action::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid var(--main-color);
    border-radius: 20px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: visibility 200ms linear, opacity 200ms linear;
}

.authorization-action:hover.authorization-action::before {
    opacity: 1;
    visibility: visible;
}

.authorization-action:focus.authorization-action::before {
    opacity: 1;
    visibility: visible;
}

.site-logo-link {
    display: block;
    text-transform: uppercase;
    font-size: 2rem;
    width: max-content;
    margin: 0 auto;
}

/* Section Hero */
.hero {
    text-align: center;
    font-family: var(--main-font);
    padding: 224px 0 147px;
    background-image: url(../img/mob-bannner.png);
    background-color: #1a1915;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-heading {
    color: var(--main-color);
    font-size: 3rem;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.header-description {
    font-family: var(--secondary-font);
    color: var(--main-color);
    font-size: 1.8rem;
    padding: 0 36px;
    line-height: 1.3;
    margin-bottom: 24px;

}

.find-partners-link {
    padding: 12px 60px;
    background-color: #ff4e50;
    border-radius: 24px;
    font-size: 1.4rem;
    color: var(--main-color);
    letter-spacing: -1px;
}



/* section-partners */
.partners-section {
    font-family: var(--main-font);
    text-align: center;
    padding: 66px 0 56px;
    color: var(--secondary-color);
    line-height: 1.2;
}

.section-heading-wrapper {
    margin-bottom: 12px;
}

.section-header {
    font-size: 2.2rem;

}

.partners-list {
    margin-bottom: 18px;
}


.partners-list-item-image {
    /* margin: 0 auto; */
    border-radius: 50%;
}

.partners-list-item-image-wrapper {
    position: relative;
    width: max-content;
    margin: 0 auto 18px;
}

.partners-list-item-image-wrapper::before {
    content: '';
    display: block;
    width: 41px;
    height: 41px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
}

.tv-set.partners-list-item-image-wrapper::before {
    background-color: rgb(255, 78, 80);
    background-image: url(../img/ico/tv-set.png);
}

.test-tube.partners-list-item-image-wrapper::before {
    background-color: rgb(255, 165, 7);
    background-image: url(../img/ico/test-tube.png);
}

.coffe.partners-list-item-image-wrapper::before {
    background-color: rgb(28, 215, 173);
    background-image: url(../img/ico/coffe.png);
}

.telegram.partners-list-item-image-wrapper::before {
    background-color: rgb(78, 115, 219);
    background-image: url(../img/ico/telegram.png);
}

.partners-list-item-name {
    font-size: 1.4rem;
    margin-bottom: 14px;
}

.partners-list-item-description {
    color: var(--description-color);
    font-family: var(--secondary-font);
    font-size: 1.4rem;

}

.see-other-link {
    display: inline-block;
    padding: 10px 68px;
    border: 2px solid #ff4e50;
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
    font-size: 1.4rem;
    color: #ff4e50;
}

@media(max-width:767px) {
    .authorization-list-wrapper {
        margin-bottom: 112px;
    }

    .partners-list-item:not(:last-of-type) {
        margin-bottom: 28px;
    }
}


@media(min-width:768px) {
    .container {
        max-width: 768px;
    }

    .hero {
        padding: 216px 0 244px;
        background-image: url(../img/tab-bannner_01.png);
    }

    .site-header {
        padding-top: 40px;
    }

    .main-heading {
        font-size: 5.2rem;
        padding: 0 70px;
        margin-bottom: 22px;
    }

    .header-description {
        font-size: 2.4rem;
        margin-bottom: 40px;
    }

    .find-partners-link {
        padding: 12px 30px;
    }

    .partners-section {
        padding: 68px 0 56px;
    }

    .section-heading-wrapper {
        margin-bottom: 34px;
    }

    .partners-list {
        margin-bottom: 34px;
    }

    .see-other-link {
        padding: 10px 26px;
    }

}

@media (max-width:1023px) {
    .partners-list-item-description {
        padding: 0 36px;
    }
}

@media (min-width:768px) and (max-width: 1023px) {
    .partners-list-item:nth-child(odd) {
        margin-bottom: 56px;
    }
}

@media (min-width:940px) {
    .container {
        max-width: 940px;
    }

    .hero {
        background-image: url(../img/desktop-bannner.png);
    }

    .main-heading {
        padding: 0 210px;
    }
}